body {
  margin: none;
  padding: none;
  background: rgba(0, 30, 60, 1);
  font-family: 'Inconsolata', monospace;
  letter-spacing: 3px;
}

svg {
  max-width: 100%;

  height:auto;
}

#diseaseBox {
  position: absolute;
  bottom: 5%;
  left: 2.5%;


  }

#diseaseBox>* {
  min-width:150px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(90, 65, 65, 0.5);
  color:white;
  border: 4px double black;
  overflow:hidden;
}

.diseaseButton {
  background: rgba(150, 0, 0, 1);
  padding: 1%;
}
input {
  border: 1px solid white;
  background: rgba(90, 65, 65, 0.5);
  border-radius: 3px;

}

label, button {
  display: block;
  float:right;
  clear:both;
}
li {
  list-style: none;
}
ul {
  padding-left: 17px
}
#toolTip {
  /*min-width: 150px;*/

  color:white;

  position: absolute;
  bottom: 5%;
  right: 2.5%;
}

#toolTip>ul>li {
  background: rgba(90, 65, 65, 0.5);
  margin-top: 15px;
  border: 4px double black;
  padding: 7px;
  padding-right: 25px;
  opacity:1;
  border-radius: 10px;
  font-size: 1.1em;
}
#toolTip>ul>li>ul>*{
  font-size: .9em;
  /*does not work*/
}
ul>li>ul>li>span{
  float:right;
}
.pop {
  color: #39FF14;
}
.infected{
  color:#ddcc20;
}
.deaths{
  color:red;
}
#countryProvinces {
  color:salmon;
}
 /*span:first-of-type{
   color:green;
 }
 span:last-of-type{
   color:darkred;
 }*/

/*#toolTip>ul>li:nth-child(1){
  font-size: 1.25em;
}
#toolTip>ul>li:nth-child(2){
  font-size: 1.25em;
}
#toolTip>ul>li:nth-child(3){
  font-size: 1.25em;
}*/
